<div class= 'banner'>
</div>
<div class="rounded-white-background ">

  <div class ='mt-4 mb-2 text-center'>
    <h2><%= @list.name %></h2>
    <div class="title-border mx-auto my-2"></div>
  </div>



  <div class="container text-center pt-4">
    <%= simple_form_for [@list, @content], remote: true do  |f| %>
      <%= f.association :beer, collection: Beer.order(:name), label: false, selected: Beer.all.sample.id, input_html: { class: 'select2' } %>
      <%= f.button :button , :class => 'form-btn' do %>
        <i class="fas fa-beer"></i>
      <% end %>
    <% end %>
  </div>
  <div class="container d-flex justify-content-center align-content-center">
    <div class="cards">
      <% @contents.each do |content| %>
        <div class="d-flex align-items">
          <%= link_to beer_path(content.beer), class: 'beer-card-lg-link' do  %>
            <%= render "shared/beer-cards/beer-card-lg-variable", beer: content.beer %>
          <% end %>
        <%= link_to image_tag('icons/cross-white.svg', width: 10, height: 10), list_content_path(@list, content, page_tracker: "list_show"), method: 'delete', class: "button-sm active", remote: true %>
        </div>
      <% end %>
    </div>
  </div>
</div>






