<h2><%= @list.name %></h2>
<% @contents.each do |content| %>
  <%= link_to beer_path(content.beer) do  %>
    <div class="beer-card-lg">
      <div>
        <%= image_tag('beer-placeholder.jpg', class: 'beer-photo') %>
      </div>
      <div class="beer-description-lg">
        <div class="beer-name-alc">
          <div class="beer-name"> <h4><%= content.beer.name %></h4>
            <%= image_tag("icons/delete.svg", width: 14, height: 14 ) %>
          </div>
          <div class="beer-alc"> <%= content.beer.alcohol_strength %> </div>
        </div>
        <div class="beer-color-ibu">
          <div class="beer-color"> <h5> <%= content.beer.color.name %> </h5> </div>
          <div class="beer-ibu"> IBU </div>
        </div>
        <div class="beer-style"> <h6> <%= content.beer.style.name %></h6> </div>
        <div class="beer-country"> <%= content.beer.brewery.country.name %> </div>
        <div class="beer-brewery-icons">
          <div class="beer-brewery"> <h5> <%= content.beer.brewery.name %> </h5> </div>
          <div class="beer-icons">
            <ul class="d-flex m-0 p-0">
              <% if content.list.name == 'Whitelist' %>
              <li><%= image_tag("icons/whitelist-black.svg", width: 16, height: 16 ) %></li>
              <% end %>
              <% if content.list.name == 'Blacklist' %>
              <li><%= image_tag("icons/blacklist-black.svg", width: 16, height: 16) %></li>
              <% end %>
              <% if content.list.name == 'Wishlist' %>
              <li><%= image_tag("icons/wishlist-black.svg", width: 16, height: 16) %></li>
              <% end %>
              <% if ['Whitelist', 'Blacklist', 'Wishlist'].exclude?(content.list.name) %>
              <li><%= image_tag("icons/addlist-black.svg", width: 16, height: 16) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
