<div class="banner">
  <div class="main-title y-border w-bg">
    <h1><%= link_to "#{@beer.name} - #{@beer.id}", beer_path(@beer) %></h1>
  </div>
</div>

<div class="rounded-white-background">
  <div class="container pt-5">
    <h2 class="mb-5 text-center"><%= "Adding #{@beer.name} to a custom list" %></h2>
    <%= simple_form_for [@beer,@content] do |f| %>
      <%= f.input :list, label: 'Select a custom list', collection: @custom_lists, selected: 1 %>
      <%= f.button :submit, 'Add to list', class: 'form-btn' %>
    <% end %>
  </div>
