<div class= 'banner'>
  <div class=" main-title y-border w-bg">
    <h1>Forgot your password?</h1>
  </div>
</div>

<div class="rounded-white-background">
  <div class="container py-5 add-edit-container">

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" },
                    placeholder: "Email",
                    label: false %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Send me reset password instructions", class: 'btn btn-add-edit-save w-100' %>
      </div>
    <% end %>

    <div class="devise-links mt-2">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
