<div class="navbar-expand-sm navbar-lewagon">
  <ul class="navbar-nav navbar">






    <% if user_signed_in? %>

      <div class="navbar-left">
          <%= image_tag "icons/user.svg", width: 32, class: "dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': false, 'aria-expanded': false %>
        <li class="nav-item dropdown">
          <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
            <%= link_to "My cellar <i class='fas fa-beer'></i>".html_safe, lists_path, class: "dropdown-item" %>
            <%= link_to "About", '/about', class: "dropdown-item" %>
            <%= link_to "Contact", '/contact', class: "dropdown-item" %>
            <%= link_to "FAQ", '/faq', class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      </div>


      <div class="navbar-mid">
        <li class="nav-item">
          <%= link_to root_path do %>
            <%= image_tag "icons/hops-logo.svg", width: 32 %>
          <% end %>
        </li>
      </div>

      <div class="navbar-right">
        <li class="nav-item">
          <%= link_to root_path do %>
            <%= image_tag "icons/search.svg", width: 32 %>
          <% end %>
        </li>
      </div>




    <% else %>

    <div class="navbar-mid">
      <li class="nav-item">
        <%= link_to root_path do %>
          <%= image_tag "icons/hops-logo.svg", width: 32 %>
        <% end %>
      </li>
    </div>

    <div class="navbar-right">
      <li class="nav-item">
        <%= link_to root_path do %>
          <%= image_tag "icons/search.svg", width: 32 %>
        <% end %>
      </li>
    </div>

    <% end %>
  </ul>
</div>
