<div class="navbar-expand-sm navbar-lewagon">
  <ul class="navbar-nav navbar">
    <div class="navbar-left">
      <li class="nav-item active">
        <%= link_to render 'shared/buttons/back'%>
      </li>
      <li class="nav-item active">
        <%= link_to render 'shared/buttons/home'%>
      </li>
    </div>
    <% if user_signed_in? %>

      <div class="navbar-right">
        <li class="nav-item">
          <%= link_to render 'shared/buttons/cellar'%>
        </li>
        <li class="nav-item dropdown button">
          <%= image_tag "icons/user.svg", width: 16, class: "dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <p> Dev/Resources </p>
            <%= link_to "UI Kit", uikit_path, class: "dropdown-item" %>
            <%= link_to "Admin", rails_admin_path, class: "dropdown-item" %>
            <p> Demo </p>
            <%= link_to "Searches", searches_path, class: "dropdown-item" %>
            <%= link_to "Beer show", "/beers/#{Beer.first.id}", class: "dropdown-item" %>
            <%= link_to "Brewery show", "/breweries/#{Brewery.first.id}", class: "dropdown-item" %>
            <%= link_to "Lists index", '/lists', class: "dropdown-item" %>
            <%= link_to "Lists show", "/lists/#{List.first.id}'", class: "dropdown-item" %>
            <p>Forms</p>
            <%= link_to "Beer edit", '/beers/143/edit', class: "dropdown-item" %>
            <%= link_to "Beer add", '/beers/new', class: "dropdown-item" %>
            <%= link_to "Brewery edit", "'/breweries/#{Brewery.first.id}/edit", class: "dropdown-item" %>
            <%= link_to "Brewery add", '/breweries/new', class: "dropdown-item" %>
            <p>Static pages</p>
            <%= link_to "About", '/about', class: "dropdown-item" %>
            <%= link_to "Contact", '/contact', class: "dropdown-item" %>
            <%= link_to "FAQ", '/faq', class: "dropdown-item" %>
            <p> Other </p>
            <%= link_to "Beers index", beers_path, class: "dropdown-item" %>
            <%= link_to "Breweries index", '/breweries', class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      </div>
    <% else %>
      <div class="navbar-right">
        <li class="nav-item">
          <%= link_to render'shared/buttons/login' %>
        </li>
      </div>
    <% end %>
  </ul>
</div>
