<div class="navbar-expand-sm navbar-light navbar-lewagon">
  <ul class="navbar-nav navbar">
    <% if user_signed_in? %>
      <div class="navbar-left">
        <li class="nav-item active">
          <%= link_to render 'shared/buttons/back'%>
        </li>
        <li class="nav-item active">
          <%= link_to render 'shared/buttons/home'%>
        </li>
      </div>
      <div class="navbar-mid">
        <!-- Empty div for flex-grow 1 -->
      </div>
      <div class="navbar-right">
        <li class="nav-item">
          <%= link_to render 'shared/buttons/cellar'%>
        </li>
        <li class="nav-item dropdown button">
          <%= image_tag "icons/user.svg", width: 16, class: "dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <p> Dev/Resources </p>
            <%= link_to "UI Kit UP", uikit_path, class: "dropdown-item" %>
            <%= link_to "Admin UP", rails_admin_path, class: "dropdown-item" %>
            <p> Demo </p>
            <%= link_to "Search UP", searches_path, class: "dropdown-item" %>
            <%= link_to "Beer show WIP", "/beers/#{Beer.first.id}", class: "dropdown-item" %>
            <%= link_to "Brewery show TO DO", "/breweries/#{Brewery.first.id}", class: "dropdown-item" %>
            <%= link_to "Lists index TO DO", '/lists', class: "dropdown-item" %>
            <%= link_to "Lists show TO DO", "/lists/#{List.first.id}'", class: "dropdown-item" %>
            <p>Forms</p>
            <%= link_to "Beer edit TO DO", '/beers/143/edit', class: "dropdown-item" %>
            <%= link_to "Beer add TO DO", '/beers/new', class: "dropdown-item" %>
            <%= link_to "Brewery edit TO DO", "'/breweries/#{Brewery.first.id}/edit", class: "dropdown-item" %>
            <%= link_to "Brewery add TO DO", '/breweries/new', class: "dropdown-item" %>
            <p>Static pages</p>
            <%= link_to "About TO DO", '/about', class: "dropdown-item" %>
            <%= link_to "Contact TO DO", '/contact', class: "dropdown-item" %>
            <p> Other </p>
            <%= link_to "Beers index UP", beers_path, class: "dropdown-item" %>
            <%= link_to "Breweries index TO DO", '/breweries', class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      </div>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
  </ul>
</div>
