<div class="navbar-expand-sm navbar-lewagon">
  <ul class="navbar-nav navbar">






    <% if user_signed_in? %>

          <li class="nav-item dropdown">
            <%= image_tag "icons/user.svg", width: 32, class: "dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to " <i class='fas fa-wine-bottle'></i> My cellar".html_safe, lists_path, class: "dropdown-item" %>
              <%= link_to "<i class='fa fa-male'></i><i class='fa fa-male'></i><i class='fa fa-male'></i> About".html_safe, '/about', class: "dropdown-item" %>
              <%= link_to "<i class='fa fa-envelope'></i> Contact".html_safe, '/contact', class: "dropdown-item" %>
              <%= link_to "<i class='fas fa-question-circle'></i> FAQ".html_safe, '/faq', class: "dropdown-item" %>
              <%= link_to "<i class='fas fa-sign-out-alt'></i> Log out".html_safe, destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>

          </li>

      <div class="navbar-mid">
        <li class="nav-item">
          <%= link_to root_path do %>
            <%= image_tag "icons/hops-logo.svg", width: 32 %>
          <% end %>
        </li>
      </div>

      <div class="navbar-right">
        <li class="nav-item">
          <%= link_to searches_path do %>
            <%= image_tag "icons/search.svg", width: 32 %>
          <% end %>
        </li>
      </div>


    <% else %>

    <div class="navbar-left">
      <li class="nav-item">
        <%= link_to new_user_session_path do %>
          <%= image_tag "icons/SignIn.svg", width: 32 %>
        <% end %>
      </li>
    </div>

    <div class="navbar-mid">
      <li class="nav-item">
        <%= link_to root_path do %>
          <%= image_tag "icons/hops-logo.svg", width: 32 %>
        <% end %>
      </li>
    </div>


    <div class="navbar-right" style="width: 32px;"></div>
    <% end %>
  </ul>
</div>
