<div class= 'banner'>
  <div class=" main-title y-border w-bg">
    <%= image_tag 'icons/hop.svg', id: 'logo' %>
    <h1>
    <span class="line">Hops!...</span>
     <span class="line">I did it again!</span>
    </h1>
  </div>
  <div class = 'sb-placement'>
    <%= link_to searches_path  do  %>
      <%= render 'shared/searchbar' %>
    <% end %>
    <div id='barcode-scanner'>
      <%= render 'shared/barcode' %>
    </div>
  </div>
</div>
<div class="rounded-white-background ">
  <h2 class="mt-5 text-center">Ours newest beers</h2>
  <div class="container pt-5 d-flex justify-content-center align-content-center">
    <div class="card-grid">
      <% @beers.each do |beer| %>
        <%= link_to beer_path(beer)do  %>
          <%= render 'shared/beer-cards/beer-card-home', beer: beer %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
