
<p class="xtrem">UIKIT</p>
<br>
<h2 class="bg-primary">TYPOGRAPHIE</h2>
<h1 class="bg-dark">This is a h1 TITLE</h1>
<h2 class="bg-white">This is a h2 TITLE</h2>
<h3 class="bg-white">This is a h3 TITLE</h3>
<h4 class="bg-white">This is a h4 TITLE</h4>
<h5 class="bg-white">This is a h5 TITLE</h5>
<h6 class="bg-white">This is a h6 TITLE</h6>
<p>Je suis un paragraphe HELLO</p>
<p class="legend-text">Je suis une légende (oui je suis will smith)</p>
<br>

<h2 class="bg-primary">ICONES</h2>

<ul class="d-flex m-0 p-0">
  <li><%= image_tag "icons/whitelist-black.svg" %></li>
  <li><%= image_tag "icons/blacklist-black.svg" %></li>
  <li><%= image_tag "icons/wishlist-black.svg" %></li>
  <li><%= image_tag "icons/addlist-black.svg" %></li>
</ul>

<%= image_tag "icons/hops-logo.svg" %>

<ul class="d-flex m-0 p-0">
  <li><%= image_tag "icons/search.svg" %></li>
  <li><%= image_tag "icons/barcode.svg" %></li>
  <li><%= image_tag "icons/delete.svg" %></li>
</ul>
<br>

<h2 class="bg-primary">CARDS</h2>

<h4 class="bg-secondary">beer-card-lg</h4>
<div class="mt-2 ml-5 mb-3">
  <%= render'shared/beer-cards/beer-card-lg' %>
</div>

<h4 class="bg-secondary">beer-card-md</h4>
<div class="mt-2 ml-5 mb-3">
  <%= render'shared/beer-cards/beer-card-md' %>
</div>

<h4 class="bg-secondary">beer-card-sm</h4>
<div class="mt-2 ml-5 mb-3">
  <%= render'shared/beer-cards/beer-card-md' %>
</div>

<h4 class="bg-secondary">beer-card-home</h4>
<div class="mt-2 ml-5 mb-3">
  <%= render'shared/beer-cards/beer-card-home' %>
</div>

<h4 class="bg-secondary">searchbar & buttons</h4>
<div class="mt-2 ml-5 mb-3">
  <%= render'shared/searchbar' %>
</div>
<div class="ml-5">
  <%= render'shared/barcode' %>
</div>





<br>
<br>
<br>
<br>
<br>
<br>