<div id="map"style="width: 100%; height: 50vh; z-index: -1; padding: 0px 0px 50px 0px" class = 'd-flex justify-content-center align-items-center pb-5' data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<div class="rounded-white-background">
  <h2 class="text-center mt-3" ><%= @brewery.name.upcase %></h2>
  <div class="container pt-4">
    <div class="info my-4">
      <h2>Infos</h2>
      <%= @brewery.address %>
      <%= @brewery.country.name %>
    </div>
    <div class="statistics my-4">
      <h2>Statistics</h2>
        <div class="d-flex justify-content-around">
          <div class="text-center">
            <div class="count-icon"><%= image_tag("icons/whitelist-black.svg", alt: 'white', width: 32)%></div>
              <div><%= @whitelist_count %></div>
            </div>
            <div class="text-center">
              <div class="count-icon"><%= image_tag("icons/blacklist-black.svg", alt: 'black', width: 32) %></div>
              <div><%= @blacklist_count %></div>
            </div>
            <div class="text-center">
              <div class="count-icon"><%= image_tag("icons/wishlist-black.svg", alt: 'wish', width: 32) %></div>
              <div><%= @wishlist_count %></div>
            </div>
            <div class="text-center">
              <div class="count-icon"><%= image_tag("icons/addlist-black.svg", alt: 'add', width: 32) %></div>
              <div><%= @customlist_count %></div>
            </div>
        </div>
    </div>
    <h2 class ='my-4'><%= "Beers (#{@brewery.beers.count})" %></h2>
    <% if @brewery.beers %>
      <div class="d-flex justify-start flex-wrap">
        <% if @white_count > 0 %>
          <%= render 'shared/tags/tag-color-count', color: 'white', counter: @white_count %>
        <% end %>
        <% if @blond_count > 0 %>
          <%= render 'shared/tags/tag-color-count', color: 'blond', counter: @blond_count %>
        <% end %>
        <% if @ruby_count > 0 %>
          <%= render 'shared/tags/tag-color-count', color: 'ruby', counter: @ruby_count %>
        <% end %>
        <% if @amber_count > 0 %>
          <%= render 'shared/tags/tag-color-count', color: 'amber', counter: @amber_count %>
        <% end %>
        <% if @black_count > 0 %>
          <%= render 'shared/tags/tag-color-count', color: 'black', counter: @black_count %>
        <% end %>
        <% if @other_count > 0 %>
          <%= render 'shared/tags/tag-color-count', color: 'other', counter: @other_count %>
        <% end %>
      </div>
      <div class="container d-inline-flex flex-column pt-2">
        <% @brewery.beers.each do |beer| %>
          <%= link_to beer_path(beer) do %>
            <%= render 'shared/beer-cards/beer-card-sm', beer: beer %>
          <% end %>
        <% end %>
    <% else %>
      <p>Sorry, this Brewery doesn't have linked beers yet.</p>
    <% end %>
  </div>
</div>
