<% if color == 'white' %>
  <div class="tag-md ">
      <div class="tag-icon-md <%= color %>">
        <i class="fas fa-beer"></i>
      </div>
      <div class="tag-name-md">
        <p> <%= @white_count %> </p>
      </div>
  </div>
<% end %>

<% if color == 'blond' %>
  <div class="tag-md ">
      <div class="tag-icon-md <%= color %>">
        <i class="fas fa-beer"></i>
      </div>
      <div class="tag-name-md">
        <p> <%= @blond_count %> </p>
      </div>
  </div>
<% end %>

<% if color == 'ruby' %>
  <div class="tag-md ">
      <div class="tag-icon-md <%= color %>">
        <i class="fas fa-beer"></i>
      </div>
      <div class="tag-name-md">
        <p> <%= @ruby_count %> </p>
      </div>
  </div>
<% end %>

<% if color == 'amber' %>
  <div class="tag-md ">
      <div class="tag-icon-md <%= color %>">
        <i class="fas fa-beer"></i>
      </div>
      <div class="tag-name-md">
        <p> <%= @amber_count %> </p>
      </div>
  </div>
<% end %>

<% if color == 'black' %>
  <div class="tag-md ">
      <div class="tag-icon-md <%= color %>">
        <i class="fas fa-beer"></i>
      </div>
      <div class="tag-name-md">
        <p> <%= @black_count %> </p>
      </div>
  </div>
<% end %>