<div class= 'banner'>
  <div class=" main-title y-border w-bg">
    <h1>Add/Edit a beer</h1>
  </div>
</div>

<div class="rounded-white-background">
  <div class="container mt-5 add-edit-container">
    <%= simple_form_for (@beer) do |f| %>
      <%= f.input :name, placeholder: 'Beer name', label: false %>
      <%= f.association :brewery, collection: Brewery.order(:name), prompt: 'Brewery name', label: false %>
      <%= f.association :color, collection: Color.order(:id), prompt: 'Beer color', label: false %>
      <%= f.association :style, collection: Style.order(:name), prompt: "Beer style", label: false %>
      <%= f.input :alcohol_strength, placeholder: 'Alcohol strength', label: false %>
      <%= f.input :ibu, placeholder: 'IBU', label: false %>
      <%= f.input :description, placeholder: 'Something to add?', label: false %>
      <%= f.input :barcode, placeholder: 'Barcode number', label: false %>
      <%= f.input :photo, as: :file, input_html: { class: 'd-none', id: 'photo-input' }, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
      <div class="container text-center">
        <%= image_tag "", width: 300, class: "d-none mb-3", id: "photo-preview" %>
      </div>
      <%= f.submit "Add/Edit beer", class: "btn btn-add-edit-save w-100" %>
    <% end %>
  </div>
</div>