<%= link_to "Add a beer", new_beer_path, class: "btn btn-primary" %>

<br>

<table>
  <tr>
    <td>Name</td>
    <td>Brewery ID</td>
    <td>Color ID</td>
    <td>Style ID</td>
    <td>Description</td>
    <td>Alcohol</td>
    <td>IBU</td>
    <td>In list</td>
    <td>Details</td>
    <td>Edit</td>
    <td>Delete</td>
  </tr>
  <% @beers.each do |beer| %>
    <tr>
      <td><%= beer.name %></td>
      <td><%= beer.brewery_id %></td>
      <td><%= beer.color_id %></td>
      <td><%= beer.style_id %></td>
      <td><%= beer.description %></td>
      <td><%= beer.alcohol_strength %></td>
      <td><%= beer.ibu %></td>
      <td><%= beer.contents.count %></td>
      <td><%= link_to "Show", beer_path(beer) %></td>
      <td><%= link_to "Edit", edit_beer_path(beer) %></td>
      <td><%= link_to "Delete", beer_path(beer), method: :delete, data: {confirm: "Sure ?"} %></td>
    </tr>
  <% end %>
</table>
