<div class="banner" style = "background-image: url(<%= cl_image_path @beer.photo.key if @beer.photo.key rescue image_path 'beer-placeholder.jpg' %>);" >
  <div class=" main-title y-border w-bg">
    <h1><%= @beer.name %></h1>
  </div>
  <div id="action-buttons">
    <div><%= render('shared/buttons/whitelist', whitelist: @whitelist, beer: @beer, content: @content, user_core_lists: @user_core_lists, active_core_list: @active_core_list, active_core_content: @active_core_content) %></div>
    <div><%= render('shared/buttons/blacklist', blacklist: @blacklist, beer: @beer, content: @content, user_core_lists: @user_core_lists, active_core_list: @active_core_list, active_core_content: @active_core_content) %></div>
    <div><%= link_to render('shared/buttons/wishlist', wishlist: @wishlist, beer: @beer, content: @content, user_core_lists: @user_core_lists, active_core_list: @active_core_list, active_core_content: @active_core_content), '#' %>
    </div>
    <% if current_user.lists.count > 3 %>
      <div>
        <%= render 'shared/buttons/addlist', beer: @beer %>
      </div>
    <% end %>
  </div>
</div>
<div class="rounded-white-background">
<div class="user-background">
  <div class="container pt-4 pb-3">
    <h2 class = 'my-4'><%= current_user.nickname.upcase %> SECTION </h2>
    <div class="notes my-4 ml-3">
      <% if @beer_user_review.nil?%>
        <%= simple_form_for ([@beer, @review]), remote: true, class: 'd-flex' do |f| %>
          <div class="d-flex justify-content-between">
            <h3>RATE & COMMENT</h3>
            <div>
              <% 5.times do |index| %>
                  <i id="<%= index + 1 %>" class="review-rate fas fa-beer inactive"></i>
              <% end %>
            </div>
          </div>
          <%= f.input :rate, as: :hidden %>
          <div class="d-flex justify-content-between">
            <%= f.input :comment, input_html: { rows: 2 }, placeholder: 'Drop a comment', label: false %>
            <%= f.submit 'Update review', class: 'form-btn', id: 'review_submit' %>
          </div>
        <% end %>
      <% else %>
        <div class="d-flex justify-content-between">
          <h2>NOTES</h2>
          <%=link_to image_tag("icons/edit.svg", alt: 'edit', width: 16), edit_beer_review_path(@beer, @review) %>
        </div>
        <div class="my-2">
          <%=image_tag("icons/rating.svg", alt: 'rate', width: 22) * @review.rate %>
          <%= image_tag("icons/rating-alt.svg", alt: 'no-rate', width: 16) * (5 - @review.rate) %>
        </div>
        <div class='bg-light br-4'>
          <%= @beer_user_review.comment %>
        </div>
      <% end %>
    </div>
  </div>
</div>
  <div class="container">
    <h2 class ='my-4'>BEER SECTION</h2>
    <div class="info my-2 ml-3">
      <h3>INFO</h3>
        <div class="d-flex flex-wrap">
          <% if @beer.color.name %>
            <%= render 'shared/tags/tag-md-color' %>
          <% end %>

          <% if @beer.style.name %>
            <%= render 'shared/tags/tag-md-style' %>
           <% end %>

          <% if @beer.alcohol_strength %>
            <%= render 'shared/tags/tag-md-alc-str' %>
          <% end %>

          <% if @beer.ibu %>
            <%= render 'shared/tags/tag-md-ibu' %>
          <% end %>

          <% if @beer.brewery.name %>
            <%= render 'shared/tags/tag-md-brewery' %>
          <% end %>

          <% if @beer.brewery.country.name %>
            <%= render 'shared/tags/tag-md-country' %>
          <% end %>

          <% if @beer.brewery.city %>
            <%= render 'shared/tags/tag-md-city' %>
          <% end %>

          <%= render 'shared/tags/tag-md-add' %>

        </div>
        <div class='bg-light br-4'>
          <%= @beer.description %>
        </div>
    </div>
    <div class="statistics my-4 ml-3">
      <h3>STATISTICS</h3>
      <div class="d-flex justify-content-around">
        <div class="text-center">
          <div class="count-icon"><%= image_tag("icons/whitelist-black.svg", alt: 'white', width: 32)%></div>
          <div><%= @white_count %></div>
        </div>
        <div class="text-center">
          <div class="count-icon"><%= image_tag("icons/blacklist-black.svg", alt: 'black', width: 32) %></div>
          <div><%= @black_count %></div>
        </div>
        <div class="text-center">
          <div class="count-icon"><%= image_tag("icons/wishlist-black.svg", alt: 'wish', width: 32) %></div>
          <div><%= @wish_count %></div>
        </div>
        <div class="text-center">
          <div class="count-icon"><%= image_tag("icons/addlist-black.svg", alt: 'add', width: 32) %></div>
          <div><%= @list_count %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="show-footer">
    <div class="container">
      <h2>!! DATABASE ZONE !!</h2>
      <div class="d-flex justify-content-around">
        <div class="list-card">
          <%= link_to image_tag('icons/delete.svg', width: 20, height: 20), beer_path(@beer), method: 'delete', :data => {:confirm => 'Your power is great. Are you sure you want to DELETE the holy Bible of the Beer?'} %>
          <div> DELETE BEER </div>
        </div>
        <div class="list-card">
          <%= link_to image_tag('icons/edit.svg', width: 20, height: 20), edit_beer_path(@beer), :data => {:confirm => 'Your power is great. Are you sure you want to MODIFY the holy Bible of the Beer?'} %>
          <div>EDIT BEER</div>
        </div>
      </div>
    </div>
    </div>
</div>
