<div class="banner" style = "background-image: url(<%= cl_image_path @beer.photo.key if @beer.photo.key rescue image_path 'beer-placeholder.jpg' %>);" >
  <div class=" main-title y-border w-bg">
    <h1><%= @beer.name %></h1>
  </div>
  <div id="action-buttons">
    <div><%= link_to render('shared/buttons/whitelist', whitelist: @whitelist, beer: @beer, content: @content), '#' %></div>
    <div><%= link_to render('shared/buttons/blacklist', blacklist: @blacklist, beer: @beer, content: @content), '#' %></div>
    <div><%= link_to render('shared/buttons/wishlist', wishlist: @wishlist, beer: @beer, content: @content), '#' %>
    </div>
    <% if current_user.lists.count > 3 %>
      <div>
        <%= render 'shared/buttons/addlist', beer: @beer %>
      </div>
    <% end %>
  </div>
</div>
<div class="rounded-white-background">
  <div class="container pt-5">
    <div class="notes my-4">
      <% if @beer_user_review.nil?%>
      <h2>NOTES - No personal notes</h2>
        <%= simple_form_for ([@beer, @review]), class: 'd-flex' do |f| %>
          <%= f.input :comment, input_html: { rows: 1 }, placeholder: 'Drop a comment', label: false%>
          <%= f.input :rate, input_html: { min: 0 }, placeholder: 'Rate !', label: false, class: 'w-25' %>
          <%= f.submit 'Add review', class: 'btn btn-light', id: 'review_submit' %>
        <% end %>
      <% else %>
        <div class="d-flex justify-content-between pr-4">
          <h2>NOTES</h2>
          <%=link_to image_tag("icons/edit.svg", alt: 'edit', width: 32), edit_beer_review_path(@beer, @review) %>
        </div>
        <div class="my-2">
          <%=image_tag("icons/rating.svg", alt: 'rate', width: 22) * @review.rate %>
          <%= image_tag("icons/rating-alt.svg", alt: 'no-rate', width: 16) * (5 - @review.rate) %>
        </div>
        <div class='bg-light br-4'>
          <%= @beer_user_review.comment %>
        </div>
      <% end %>
    </div>
    <div class="info my-4">
      <h2>INFO</h2>
        <div class="d-flex flex-wrap">
          <% if @beer.color.name %>
            <%= render 'shared/tags/tag-md-color' %>
          <% end %>

          <% if @beer.style.name %>
            <div class="tag tag-style text-center">
              <div class="my-2"><%=image_tag("tags/style.svg", alt: 'rate', width: 32) %></div>
              <%= @beer.style.name %>
            </div>
           <% end %>

          <% if @beer.alcohol_strength %>
            <div class="tag tag-alcohol text-center">
              <div class="my-2"><%=image_tag("tags/alcohol_strength.svg", alt: 'rate', width: 32) %></div>
              <%= @beer.alcohol_strength %>
            </div>
          <% end %>

          <% if @beer.ibu %>
            <div class="tag tag-ibu text-center">
              <div class="my-2"><%=image_tag("tags/ibu.svg", alt: 'rate', width: 32) %></div>
              <%= @beer.ibu %>
            </div>
          <% end %>

          <% if @beer.brewery.name %>
            <div class="tag tag-brewery text-center">
              <div class="my-2"><%=image_tag("tags/brewery.svg", alt: 'rate', width: 32) %></div>
              <%= @beer.brewery.name %>
            </div>
          <% end %>

          <% if @beer.brewery.country.name %>
            <%= render 'shared/tags/tag-md-country' %>
          <% end %>

          <% if true %>
            <div class="tag tag-city text-center">
              <div class="my-2"><%=image_tag("tags/city.svg", alt: 'rate', width: 32) %></div>
              <%= "City" %>
            </div>
          <% end %>
        </div>
        <div class='bg-light br-4'>
          <%= @beer.description %>
        </div>
    </div>
    <div class="statistics my-4">
      <h2>STATISTICS</h2>
      <div class="d-flex justify-content-around">
        <div class="text-center">
          <div class="count-icon"><%= image_tag("icons/whitelist-black.svg", alt: 'white', width: 32)%></div>
          <div><%= @white_count %></div>
        </div>
        <div class="text-center">
          <div class="count-icon"><%= image_tag("icons/blacklist-black.svg", alt: 'black', width: 32) %></div>
          <div><%= @black_count %></div>
        </div>
        <div class="text-center">
          <div class="count-icon"><%= image_tag("icons/wishlist-black.svg", alt: 'wish', width: 32) %></div>
          <div><%= @wish_count %></div>
        </div>
        <div class="text-center">
          <div class="count-icon"><%= image_tag("icons/addlist-black.svg", alt: 'add', width: 32) %></div>
          <div><%= @list_count %></div>
        </div>
      </div>
    </div>


  </div>

</div>
