<div class="container">
  <div class="banner border">
    <div class="navbar">
      <%= link_to image_tag("icons/back-arrow.svg", alt: 'Back', width: 16), url_for(:back) %>
      <%= link_to image_tag("icons/hops-logo.svg", alt: 'Home'), root_path %>
    </div>
    <div class="title">
      <%= @beer.name %>
    </div>
  </div>
  <div class="action-icons d-flex">
    <div class="action-icon"><%= image_tag("icons/whitelist-black.svg", alt: 'Back', width: 32) %></div>
    <div class="action-icon"><%= image_tag("icons/blacklist-black.svg", alt: 'Back', width: 32) %></div>
    <div class="action-icon"><%= image_tag("icons/wishlist-black.svg", alt: 'Back', width: 32) %></div>
    <div class="action-icon"><%= image_tag("icons/addlist-black.svg", alt: 'Back', width: 32) %></div>
  </div>
  <div class="notes border">
    <% if @beer_user_review.nil?%>
    <div class="d-flex">
      <h2>NOTES</h2>
      <%=link_to image_tag("icons/edit.svg", alt: 'Back', width: 32), '#' %>
    </div>
    <p>Feel free to leave a review for yourself with edit button.</p>
    <%= simple_form_for ([@review]) do |f| %>
      <%= f.input :comment, label: 'Comment',input_html: { min: 0 }, placeholder: 'Leave your review here' %>
      <%= f.submit class: 'btn btn-success', id: 'booking_submit' %>
    <% end %>
    <% else %>
      <div class="d-flex">
        <h2>NOTES</h2>
        <%=link_to image_tag("icons/edit.svg", alt: 'Back', width: 32), edit_beer_review_path(@beer, @review) %>
        <%= @review.rate %>
        <%=image_tag("icons/rating.svg", alt: 'Back', width: 16) * @review.rate %>
        <%= image_tag("icons/rating.svg", alt: 'Back', width: 16, class: 'transparent') * (5 - @review.rate) %>
      </div>
      <%= "#{@beer_user_review.id}. #{@beer_user_review.comment}" %>
    <% end %>
  <div class="info border">
    <h2>INFO</h2>
    <p><%= @beer.color.name %></p>
    <p><%= @beer.style.name %></p>
    <p><%= @beer.alcohol_strength %></p>
    <p><%= @beer.ibu %></p>
    <p><%= @beer.brewery.name %></p>
    <p><%= @beer.brewery.country.name %></p>
    <p><%= @beer.description %></p>
    <p>???CITY???</p>
  </div>
</div>
