<div class="banner" style = "background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.2)), url(<%= cl_image_path @beer.photo.key if @beer.photo.key rescue image_path 'beer-placeholder.jpg' %>);" >
  <div id="action-buttons">
    <div><%= render('shared/buttons/whitelist', whitelist: @whitelist, beer: @beer, content: @content, user_core_lists: @user_core_lists, active_core_list: @active_core_list, active_core_content: @active_core_content) %></div>
    <div><%= render('shared/buttons/blacklist', blacklist: @blacklist, beer: @beer, content: @content, user_core_lists: @user_core_lists, active_core_list: @active_core_list, active_core_content: @active_core_content) %></div>
    <div><%= link_to render('shared/buttons/wishlist', wishlist: @wishlist, beer: @beer, content: @content, user_core_lists: @user_core_lists, active_core_list: @active_core_list, active_core_content: @active_core_content), '#' %>
    </div>
      <% if current_user.lists.count > 3 %>
        <div>
          <%= render 'shared/buttons/addlist', beer: @beer %>
        </div>
      <% else %>
        <%= render 'shared/buttons/createlist' %>
      <% end %>
  </div>
</div>
<div class="rounded-white-background">
<div class="user-background">
  <div class="container pt-4 pb-3">
    <div class ='mt-4 mb-2 text-center'>
      <h2><%= @beer.name.capitalize %></h2>
      <div class="title-border mx-auto my-2"></div>
    </div>
    <div class="notes my-4 ml-3">
      <% if @beer_user_review.nil?%>
        <%= simple_form_for ([@beer, @review]), remote: true, class: 'd-flex' do |f| %>
          <div class="d-flex justify-content-between my-2">
            <h3><i class="far fa-comment-dots"></i> Rate & Comment</h3>
            <div>
              <% 5.times do |index| %>
                <%= image_tag 'icons/rating.svg', width: 20, height: 20 , id: index + 1, class: "review-rate" %>
              <% end %>
            </div>

          </div>
          <%= f.input :rate, as: :hidden %>
          <div class="d-flex justify-content-between">
            <%= f.input :comment, input_html: { rows: 2 }, placeholder: 'Drop a comment', label: false %>
            <%= f.submit 'OK', class: 'form-btn px-3', id: 'review_submit' %>
          </div>
        <% end %>
      <% else %>
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <h3><i class="far fa-comment-dots"></i> Rate & Comment</h3>
            <%=link_to image_tag("icons/edit.svg", alt: 'edit', width: 16), edit_beer_review_path(@beer, @review), class: "ml-3" %>
          </div>
          <div class="my-2">
            <% @review.rate.times do %>
              <%= image_tag 'icons/rating.svg', width: 20, height: 20, class: "review-rate selected" %>
            <% end %>
            <% (5 - @review.rate).times do %>
              <%= image_tag 'icons/rating.svg', width: 20, height: 20, class: "review-rate" %>
            <% end %>
          </div>
        </div>
        <div class=''>

          <blockquote class="blockquote">
            <h3 class="mb-0" style="font-weight: normal;"><%= @beer_user_review.comment %></h3>
            <footer class="blockquote-footer" style="font-size: 12px;"><%= @beer_user_review.updated_at %></footer>
          </blockquote>
        </div>
      <% end %>
    </div>
  </div>
</div>
  <div class="container">
    <div class="info my-2 ml-3">
      <h3 class = 'my-3'><i class="fas fa-info-circle"></i> More information</h3>
        <div class="d-flex flex-wrap">
          <% if @beer.color.name %>
            <%= render 'shared/tags/tag-md-color' %>
          <% end %>

          <% if @beer.style.name %>
            <%= render 'shared/tags/tag-md-style' %>
           <% end %>

          <% if @beer.alcohol_strength %>
            <%= render 'shared/tags/tag-md-alc-str' %>
          <% end %>

          <% if @beer.ibu %>
            <%= render 'shared/tags/tag-md-ibu' %>
          <% end %>

          <% if @beer.brewery.country.name %>
            <%= render 'shared/tags/tag-md-country' %>
          <% end %>

          <% if @beer.brewery.city %>
            <%= render 'shared/tags/tag-md-city' %>
          <% end %>

          <% if @beer.brewery.name %>
            <%= render 'shared/tags/tag-md-brewery' %>
          <% end %>
          <%= render 'shared/tags/tag-md-add' %>

        </div>
        <div class='bg-light br-4'>
          <%= @beer.description %>
        </div>
    </div>
    <div class="statistics my-4 ml-3">
      <h3 class ='my-3'><i class="fas fa-chart-line"></i> Community statistics</h3>
      <div class="d-flex justify-content-around">
        <div class="text-center">
          <div class="count-icon"><%= image_tag("icons/whitelist-black.svg", alt: 'white', width: 32)%></div>
          <div><%= @white_count %></div>
        </div>
        <div class="text-center">
          <div class="count-icon"><%= image_tag("icons/blacklist-black.svg", alt: 'black', width: 32) %></div>
          <div><%= @black_count %></div>
        </div>
        <div class="text-center">
          <div class="count-icon"><%= image_tag("icons/wishlist-black.svg", alt: 'wish', width: 32) %></div>
          <div><%= @wish_count %></div>
        </div>
        <div class="text-center">
          <div class="count-icon"><%= image_tag("icons/addlist-black.svg", alt: 'add', width: 32) %></div>
          <div><%= @list_count %></div>
        </div>
      </div>
    </div>
    <% if @beer_suggestions.count > 0 %>
      <div class="suggestions my-4 position-relative">
        <h2><i class="fas fa-lightbulb"></i> Suggestions for you</h2>
          <div class="left-arrow d-none"><i class="fas fa-chevron-left"></i></div>
          <div class="right-arrow"><i class="fas fa-chevron-right"></i></div>
        <div class="bs-cards mt-2">
          <% @beer_suggestions.each do |beer| %>
            <%= link_to beer_path(beer) do  %>
              <%= render 'shared/beer-cards/beer-card-home', beer: beer %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="show-footer">
    <div class="container">
      <h2>!! DATABASE ZONE !!</h2>
      <div class="d-flex justify-content-around">
        <div class="list-card">
          <%= link_to image_tag('icons/delete.svg', width: 20, height: 20), beer_path(@beer), method: 'delete', :data => {:confirm => 'Your power is great. Are you sure you want to DELETE the holy Bible of the Beer?'} %>
          <div> DELETE BEER </div>
        </div>
        <div class="list-card">
          <%= link_to image_tag('icons/edit.svg', width: 20, height: 20), edit_beer_path(@beer), :data => {:confirm => 'Your power is great. Are you sure you want to MODIFY the holy Bible of the Beer?'} %>
          <div>EDIT BEER</div>
        </div>
      </div>
    </div>
    </div>
</div>
